services:
  api01: &api
    image: tenshinran/test-backend:latest
    hostname: api01
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/transaction
      - SPRING_DATASOURCE_USERNAME=admin
      - SPRING_DATASOURCE_PASSWORD=123
      - SPRING_DATASOURCE_HIKARI_MAXIMUM-POOL-SIZE=10
      - SPRING_DATASOURCE_HIKARI_MINIMUM-IDLE=5
      - SERVER_PORT=3000
    ports:
      - "3001:3000"
    depends_on:
      - db
    deploy:
      resources:

        limits:
          cpus: "0.55"
          memory: "200MB"

  api02:
    <<: *api
    hostname: api02
    ports:
      - "3002:3000"

  nginx:
    image: nginx:latest
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - api01
      - api02
    ports:
      - "9999:9999"
    sysctls:
      - net.ipv4.ip_local_port_range=10000 65535
      - net.ipv4.tcp_tw_reuse=1
      - net.ipv4.tcp_fin_timeout=30
    deploy:
      resources:
        limits:
          cpus: "0.15"
          memory: "10MB"

  db:
    image: postgres:latest
    hostname: db
    environment:
      - POSTGRES_PASSWORD=123
      - POSTGRES_USER=admin
      - POSTGRES_DB=transaction
    ports:
      - "5432:5432"
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    command: postgres -c checkpoint_timeout=600 -c max_wal_size=4096 -c synchronous_commit=0 -c full_page_writes=0
    deploy:
      resources:
        limits:
          cpus: "0.25"
          memory: "140MB"

networks:
  default:
    driver: bridge
    name: net-nginx-test-backend
